<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
               

                <li>
                    <a href="/" class="waves-effect">
                        <i class="bx bx-home-circle"></i><span class="badge rounded-pill bg-info float-end"></span>
                        <span key="t-dashboards"><%=translation.Dashboard%></span>
                    </a>
                    
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bxs-user-detail"></i>
                        <span key="t-contacts"><%=translation.Employees%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="employees-create" key="t-user-grid"><%=translation.Employee_Add%></a></li>
                        <li><a href="employees-list" key="t-user-list"><%=translation.Employee_List%></a></li>
                        
                    </ul>
                </li>

              
                <!-- <li>
                    <a href="chat" class="waves-effect">
                        <i class="bx bx-chat"></i>
                        <span key="t-chat"><%=translation.Chat%></span>
                    </a>
                </li> -->

                <li>
                    <a href="apps-filemanager" class="waves-effect">
                        <i class="bx bx-file"></i>
                        <span class="badge rounded-pill bg-success float-end" key="t-new"></span>
                        <span key="t-file-manager"><%=translation.File_Manager%></span>
                    </a>
                </li>

                <!-- <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-store"></i>
                        <span key="t-ecommerce"><%=translation.Ecommerce%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="ecommerce-products" key="t-products"><%=translation.Products%></a></li>
                        <li><a href="ecommerce-add-product" key="t-add-product"><%=translation.Add_Product%></a></li>
                        <li><a href="ecommerce-reports" key="t-add-product"><%=translation.Add_Product%></a></li>
                    </ul>
                </li> -->

               

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-envelope"></i>
                        <span key="t-email"><%=translation.Email%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="email-subscribers" key="t-user-grid"><%=translation.Email_Subscribers%></a></li>
                        <li><a href="email-campaigns" key="t-user-list"><%=translation.Email_Campaigns%></a></li>
                        <li><a href="email-import" key="t-user-list"><%=translation.Email_Mailchimp_Import%></a></li>
                        
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bxs-user-detail"></i>
                        <span key="t-contacts"><%=translation.CRM%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="contacts-grid" key="t-user-grid"><%=translation.Grid_%></a></li>
                        <li><a href="contacts-list" key="t-user-list"><%=translation.User_List%></a></li>
                        <li><a href="contacts-profile" key="t-profile"><%=translation.Profile%></a></li>
                    </ul> 
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bxs-user-detail"></i>
                        <span key="t-contacts"><%=translation.SocialReports%></span>
                    </a>
                   
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-receipt"></i>
                        <span key="t-invoices"><%=translation.Invoices%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="invoices-list" key="t-invoice-list"><%=translation.Invoice_List%></a></li>
                        <li><a href="invoices-detail" key="t-invoice-detail"><%=translation.Invoice_Detail%></a></li>
                        <li><a href="invoices-reports" key="t-invoice-detail"><%=translation.Invoice_Detail%></a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-briefcase-alt-2"></i>
                        <span key="t-projects"><%=translation.Projects%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <!-- <li><a href="projects-grid" key="t-p-grid"><%=translation.Projects_Grid%></a></li> -->
                        <li><a href="projects-list" key="t-p-list"><%=translation.Projects_List%></a></li>
                        <li><a href="projects-overview" key="t-p-overview"><%=translation.Project_Overview%></a></li>
                        <li><a href="projects-create" key="t-create-new"><%=translation.Create_New%></a></li>
                    </ul>
                </li>

                <!-- <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-task"></i>
                        <span key="t-tasks"><%=translation.Tasks%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="tasks-list" key="t-task-list"><%=translation.Task_List%></a></li>
                        <li><a href="tasks-kanban" key="t-kanban-board"><%=translation.Kanban_Board%></a></li>
                        <li><a href="tasks-create" key="t-create-task"><%=translation.Create_Task%></a></li>
                    </ul>
                </li>
                
 -->
             
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-detail"></i>
                        <span key="t-blog">Company News</span>
                        
                        
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <!-- <li><a href="blog-list" key="t-blog-list"><%=translation.Blog_List%></a></li>
                        <li><a href="blog-grid" key="t-blog-grid"><%=translation.Blog_Grid%></a></li> -->
                        <li><a href="blog-create" key="t-create-task"><%=translation.Blog_Create%></a></li>
                        <li><a href="blog-list" key="t-blog-list"><%=translation.Blog_List%></a>
                        
                    </ul>
                </li>


                <li>
                    <!-- <a href="javascript: void(0);" class="waves-effect">
                        <span class="badge rounded-pill bg-success float-end" key="t-new"><%=translation.New%></span>
                        <i class="bx bx-user-circle"></i>
                        <span key="t-authentication"><%=translation.Authentication%></span>
                    </a> -->
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="auth-login" key="t-login"><%=translation.Login%></a></li>
                        <li><a href="auth-login-2" key="t-login-2"><%=translation.Login%> 2</a></li>
                        <li><a href="auth-register" key="t-register"><%=translation.Register%></a></li>
                        <li><a href="auth-register-2" key="t-register-2"><%=translation.Register%> 2</a></li>
                        <li><a href="auth-recoverpw" key="t-recover-password"><%=translation.Recover_Password%></a></li>
                        <li><a href="auth-recoverpw-2" key="t-recover-password-2"><%=translation.Recover_Password%>
                                2</a></li>
                        <li><a href="auth-lock-screen" key="t-lock-screen"><%=translation.Lock_screen%></a></li>
                        <li><a href="auth-lock-screen-2" key="t-lock-screen-2"><%=translation.Lock_screen%> 2</a></li>
                        <li><a href="auth-confirm-mail" key="t-confirm-mail"><%=translation.Confirm_Mail%></a></li>
                        <li><a href="auth-confirm-mail-2" key="t-confirm-mail-2"><%=translation.Confirm_Mail%> 2</a>
                        </li>
                        <li><a href="auth-email-verification"
                                key="t-email-verification"><%=translation.Email_verification%></a></li>
                        <li><a href="auth-email-verification-2"
                                key="t-email-verification-2"><%=translation.Email_verification%> 2</a></li>
                        <li><a href="auth-two-step-verification"
                                key="t-two-step-verification"><%=translation.Two_step_verification%></a></li>
                        <li><a href="auth-two-step-verification-2"
                                key="t-two-step-verification-2"><%=translation.Two_step_verification%> 2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-tone"></i>
                        <span key="t-ui-elements"><%=translation.UI_Elements%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="ui-alerts" key="t-alerts"><%=translation.Alerts%></a></li>
                        <li><a href="ui-buttons" key="t-buttons"><%=translation.Buttons%></a></li>
                        <li><a href="ui-cards" key="t-cards"><%=translation.Cards%></a></li>
                        <li><a href="ui-carousel" key="t-carousel"><%=translation.Carousel%></a></li>
                        <li><a href="ui-dropdowns" key="t-dropdowns"><%=translation.Dropdowns%></a></li>
                        <li><a href="ui-grid" key="t-grid"><%=translation.Grid%></a></li>
                        <li><a href="ui-images" key="t-images"><%=translation.Images%></a></li>
                        <li><a href="ui-lightbox" key="t-lightbox"><%=translation.Lightbox%></a></li>
                        <li><a href="ui-modals" key="t-modals"><%=translation.Modals%></a></li>
                        <li><a href="ui-offcanvas" key="t-offcanvas"><%=translation.Off_Canvas%></a></li>
                        <li><a href="ui-rangeslider" key="t-range-slider"><%=translation.Range_Slider%></a></li>
                        <li><a href="ui-session-timeout" key="t-session-timeout"><%=translation.Session_Timeout%></a>
                        </li>
                        <li><a href="ui-progressbars" key="t-progress-bars"><%=translation.Progress_Bars%></a></li>
                        <li><a href="ui-placeholders" key="t-placeholders"><%=translation.Placeholders%></a></li>
                        <li><a href="ui-sweet-alert" key="t-sweet-alert"><%=translation.Sweet_Alert%></a></li>
                        <li><a href="ui-tabs-accordions" key="t-tabs-accordions"><%=translation.Tabs_Accordions%></a>
                        </li>
                        <li><a href="ui-typography" key="t-typography"><%=translation.Typography%></a></li>
                        <li><a href="ui-toasts" key="t-toasts"><%=translation.Toast%></a></li>
                        <li><a href="ui-video" key="t-video"><%=translation.Video%></a></li>
                        <li><a href="ui-general" key="t-general"><%=translation.General%></a></li>
                        <li><a href="ui-colors" key="t-colors"><%=translation.Colors%></a></li>
                        <li><a href="ui-rating" key="t-rating"><%=translation.Rating%></a></li>
                        <li><a href="ui-notifications" key="t-notifications"><%=translation.Notifications%></a></li>
                    </ul>
                </li>


              

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->